sourceDir = "/home/patrik/.local/share/chezmoi"
[git]
  autoPush = true
[data]
  private_ = false
[hooks.apply.post]
  command = "sh"
  after = ["apply"]
  args = [
    "-c",
    "dst=$(wslupath -H) && src=\"{{ .chezmoi.sourceDir }}/winhome\" && mkdir -p \"$dst\" && cp -a \"$src\"/. \"$dst\"/"
  ]

